<div class="post-line">

    {{ $dateFormat := "2 jan 2006"}}
    {{ with .Site.Params.listDateFormat }}
    {{ $dateFormat = .}}
    {{ end }}

    {{ if .Param "pdf" }}
    <p class="line-date">{{ .Date | time.Format "January 2006" }} </p>
    {{ else }}
    <p class="line-date">{{ .Date | time.Format $dateFormat }} </p>
    {{ end }}

    <div>
        <p class="line-title">
            {{ if .Param "pdf" }}
            {{ with .Param "pdf" }}
            <a href='{{ path.Join "../" . }}'>
                {{ $.Title }}
            </a>
            {{ end }}
            {{ else }}
            <a href="{{ .RelPermalink }}">
                {{ .Title }}
            </a>
            {{ end }}
        </p>

        {{ if .Site.Params.listSummaries }}
        <p class="line-summary"> {{ .Summary }} </p>
        {{ end }}
    </div>
</div>
