/* Place custom css here */
.rss-link {
    float: right;
    position: absolute;
    font-size: 1rem;
    font-weight: normal;
    /* font-family: var(--font-mono); */
    bottom: 0;
    right: 0;
}

.posts-title-div {
    position: relative;
    margin-top: var(--h1-margin-top);
    margin-bottom: var(--h1-margin-bottom);
}

.posts-title {
    display: inline-block;
    margin: 0;
}
